h1 { color: rgb(8, 0, 5); } 


        .menu{
              margin-right:50px;
        }
        .menu a {
              margin-left: 50px;
            }
        
     .item {
           position: relative;

     }
     
     .item p{
           position: absolute;
           top: 50%;
           left:50%;
           transform: translate(-50%,-50%);
           opacity:0;
     } 

     .item:hover p {
           opacity:1;
     }

     .item:hover img{
           opacity:0.33;
     }

  .header{background-color: rgb(248, 6, 248);
  font-style: italic;
    
 display:flex;
 justify-content: space-between;

}



.grid{
 background-image: url(background1.jpg);
display: grid;
font-style: italic;
justify-content: space-between;


}
